header {
  width: 100%;
  height: 140vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  top: -30rem;
  z-index: 2;
  display: block;

}

.header__container {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  padding: 0;
  display: block;

}


/* ------------ CTA ----------*/
.cta {
  margin-top: 0%;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ------------ Header Socials ----------*/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 28rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  background: var(--color-primary);
}


.Me {
  background: transparent;
  width: 22%;
  height: 55vh;
  position: absolute;
  left: calc(54% - 14rem);
  margin-top: 25%;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 0rem 0.5rem 4.5rem;
  top: 8rem;
  display: block;
}

.Me img {

  width: 70%;
  position: relative;
  left: 3rem;
  top: 2rem;

}

.Me:hover {
  box-shadow: 0 0 30px #1c6dca;
}

/* ------------ Scroll Down ----------*/

.scroll__down {
  position: absolute;
  right: -2.8rem;
  bottom: 34rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.2rem;
}




/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {
  header {
    top: -37rem;
    height: 158vh;
  }

  .header__container {

    top: 9rem;
  }


  .cta {

    display: none;

  }

  .header__socials {
    display: none;

  }

  .scroll__down {
    display: none;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(87% - 14rem);
    margin-top: 70%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }

}




/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 360px) {

  header {
    top: -41rem;
    height: 158vh;
  }

  .header__container {

    top: 7rem;
  }

  /* ------------ CTA ----------*/
  .cta {
    margin-top: 0%;
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    width: 20vw;
    height: 9vh;
    margin-left: 40%;
  }

  .cta a {
    font-size: 0.8rem;
    padding: auto;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(90% - 14rem);
    margin-top: 70%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }


}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 375px) {

  header {
    top: -85.7rem;
    height: 148vh;
  }

  .header__container {

    top: 5rem;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(87% - 14rem);
    margin-top: 25%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }

  /* ------------ CTA ----------*/
  .cta {
    margin-top: 0%;
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    width: 20vw;
    height: 9vh;
    margin-left: 40%;
  }

  .cta a {
    font-size: 0.8rem;
    padding: auto;
  }

  .header__container h1 {
    font-size: 1.5rem;
  }


}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 390px) {

  header {
    top: -85rem;
    height: 148vh;
  }

  .header__container {

    top: 5rem;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(87% - 14rem);
    margin-top: 25%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }

  /* ------------ CTA ----------*/
  .cta {
    margin-top: 0%;
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    width: 20vw;
    height: 9vh;
    margin-left: 40%;
  }

  .cta a {
    font-size: 0.8rem;
    padding: auto;
  }

  .header__container h1 {
    font-size: 1.5rem;
  }



}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 393px) {

  header {
    top: -85.5rem;
    height: 148vh;
  }

  .header__container {

    top: 5rem;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(87% - 14rem);
    margin-top: 25%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }

  /* ------------ CTA ----------*/
  .cta {
    margin-top: 0%;
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    width: 20vw;
    height: 9vh;
    margin-left: 40%;
  }

  .cta a {
    font-size: 0.8rem;
    padding: auto;
  }

  .header__container h1 {
    font-size: 1.5rem;
  }



}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 414px) {}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 428px) {
  header {
    top: -94rem;
    height: 138vh;
  }

  .Me {

    height: 30vh;
    left: calc(80% - 14rem);
    top: 22rem;

  }

}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 430px) {
  header {
    top: -95rem;
    height: 138vh;
  }

  .Me {

    height: 30vh;
    left: calc(80% - 14rem);
    top: 22rem;

  }

}



@media screen and (min-width: 768px) {
  header {
    top: -85rem;
    height: 138vh;
  }

  .header__container h1 {
    margin-left: 0rem;
  }

  .Me {

    height: 27vh;
    left: calc(70% - 14rem);
    top: 26rem;

  }

  .Me img {

    left: 0.7rem;
    width: 90%;
  }

}

@media screen and (min-width: 800px) {
  header {
    top: -120rem;
    height: 138vh;
  }

  .header__container h1 {
    margin-left: 0rem;
  }

  .Me {

    height: 24vh;
    left: calc(68% - 14rem);
    top: 44rem;

  }

  .Me img {

    left: 0.7rem;
    width: 90%;
  }

}

@media screen and (min-width: 820px) {
  header {
    top: -100rem;
    height: 138vh;
  }

  .header__container h1 {
    margin-left: 0rem;
  }

  .Me {

    height: 27vh;
    left: calc(68% - 14rem);
    top: 28rem;

  }

  .Me img {

    left: 0.7rem;
    width: 90%;
  }

}

@media screen and (min-width: 834px) {

  header {
    top: -100rem;
    height: 138vh;
  }

  .header__container h1 {
    margin-left: 0rem;
  }

  .Me {

    height: 27vh;
    left: calc(65% - 14rem);
    top: 24rem;

  }

  .Me img {

    left: 0.7rem;
    width: 90%;
  }
}

@media screen and (min-width: 884px) {
  header {
    top: -98rem;
    height: 138vh;
  }

  .header__container h1 {
    margin-left: 0rem;
  }

  .Me {

    height: 27vh;
    left: calc(65% - 14rem);
    top: 34rem;

  }

  .Me img {

    left: 0.7rem;
    width: 90%;
  }

}



@media screen and (min-width: 1280px) {


  header {
    height: 160vh;
    top: -77rem;

  }

  .header__container {

    top: 0rem;
  }

  .Me {

    top: 12rem;
    height: 45vh;
    left: calc(57% - 14rem);

  }

  .Me img {

    width: 70%;
    position: relative;
    left: 3rem;
    top: 2rem;

  }
}


@media screen and (min-width: 1440px) {

  header {
    height: 160vh;
    top: -63rem;

  }

  .header__container {

    top: 0rem;
  }

  .Me {

    top: 12rem;
    height: 45vh;
    left: calc(55% - 14rem);

  }

  .Me img {

    width: 70%;
    position: relative;
    left: 3rem;
    top: 2rem;

  }
}





@media screen and (min-width: 1728px) {

  header {
    height: 160vh;
    top: -95rem;

  }

  .header__container {

    top: 0rem;
  }

  .Me {

    top: 12rem;
    height: 42vh;
    left: calc(53% - 14rem);

  }

  .Me img {

    width: 70%;
    position: relative;
    left: 3rem;
    top: 2rem;

  }
}

@media screen and (min-width: 1920px) {

  header {
    height: 160vh;
    top: -86rem;

  }

  .header__container {

    top: 0rem;
  }

  .Me {

    top: 12rem;
    height: 48vh;
    left: calc(53% - 14rem);

  }

  .Me img {

    width: 70%;
    position: relative;
    left: 3rem;
    top: 2rem;

  }
}

@media screen and (min-width: 2048px) {

  header {
    top: -100rem;
    height: 140vh;

  }

  .header__container {

    top: -2.5rem;
  }

  .Me {

    top: 8rem;
    height: 45vh;
    left: calc(52% - 14rem);

  }

}