header {
  width: 100%;
  height: 140vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  top: -30rem;
  z-index: 2;
  display: block;

}

.header__container {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  padding: 0;
  display: block;

}


/* ------------ CTA ----------*/
.cta {
  margin-top: 0%;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ------------ Header Socials ----------*/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 28rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  background: var(--color-primary);
}


.Me {
  background: transparent;
  width: 22%;
  height: 55vh;
  position: absolute;
  left: calc(54% - 14rem);
  margin-top: 25%;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 0rem 0.5rem 4.5rem;
  top: 8rem;
  display: block;
}

.Me img {

  width: 70%;
  position: relative;
  left: 3rem;
  top: 2rem;

}

.Me:hover {
  box-shadow: 0 0 30px #1c6dca;
}

/* ------------ Scroll Down ----------*/

.scroll__down {
  position: absolute;
  right: -2.8rem;
  bottom: 34rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 1.2rem;
}


@media screen and (min-width: 2048px) {

  header {
    top: -38rem;

  }

  .header__container {

    top: -2.5rem;
  }

  .Me {

    margin-top: 43rem;
    height: 45vh;

  }

}

@media screen and (max-width: 1920px) {

  header {
    height: 160vh;
    top: -38rem;

  }

  .header__container {

    top: 0rem;
  }

  .Me {

    margin-top: 43rem;
    height: 55vh;
    left: calc(52% - 14rem);

  }

  .Me img {

    width: 70%;
    position: relative;
    left: 3rem;
    top: 2rem;
  
  }
}

@media screen and (min-width: 1728px) {

  .Me {

    margin-top: 43rem;
    height: 45vh;
    left: calc(52% - 14rem);

  }

  .Me img {

    width: 70%;
    position: relative;
    left: 3rem;
    top: 2rem;
  
  }
}

@media screen and (max-width: 1440px) {

  header {
   
    top: -38rem;

  }

  .header__container {

    top: 8rem;
  }

  .Me {

    margin-top: 23rem;
    height: 50vh;
    left: calc(56% - 14rem);

  }
}


/*---------Media Queries (Tablets)------------------*/

@media screen and (max-width: 1024px) {
  header {
    height: 118vh;
  }

  .header__container {

    top: 2rem;
  }


  .Me {
    background: transparent;
    width: 42%;
    height: 35vh;
    position: absolute;
    left: calc(58% - 14rem);
    margin-top: 50%;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0rem 0.5rem 4.5rem;
    display: block;
  }


  .Me img {

    left: 2.8rem;
  }

  .header__container {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    margin-top: 20rem;
    padding: 0;
    display: block;

  }

  .header__container h1 {
    margin-left: 0rem;
    color: #4db5ff;
  }

}


@media screen and (max-width: 884px) {
  header {
    height: 128vh;
  }

  .Me {
    
    height: 40vh;
    
  }

}

@media screen and (max-width: 768px) {
  header {
    height: 150vh;
  }

  .header__container {

    top: 8rem;
  }


  .Me {

    height: 40vh;

  }

}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 600px) {
  header {
    top: -42rem;
    height: 128vh;
  }

  .header__container {

    top: 2rem;
  }


  .Me {

    width: 42%;
    height: 32vh;
    left: calc(80% - 14rem);
    margin-top: 70%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }

  .header__container {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    margin-top: 20rem;
    padding: 0;
    display: block;

  }

  .header__container h1 {
    margin-left: 0rem;
    color: #4db5ff;
  }


}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 428px) {
  header {
    
    height: 138vh;
  }
 
}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 414px) {

  .Me {

    width: 42%;
    height: 32vh;
    left: calc(85% - 14rem);
    margin-top: 70%;

  }

}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 393px) {

  header {
    top: -42rem;
    height: 148vh;
  }

  .header__container {

    top: 5rem;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(87% - 14rem);
    margin-top: 70%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }



}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 375px) {

  header {
    top: -42rem;
    height: 158vh;
  }

  .header__container {

    top: 6.5rem;
  }


}


/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 360px) {

  header {
    top: -41rem;
    height: 158vh;
  }

  .header__container {

    top: 7rem;
  }

  /* ------------ CTA ----------*/
  .cta {
    margin-top: 0%;
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    width: 20vw;
    height: 9vh;
    margin-left: 40%;
  }

  .cta a {
    font-size: 0.8rem;
    padding: auto;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(90% - 14rem);
    margin-top: 70%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }


}






/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {
  header {
    top: -37rem;
    height: 158vh;
  }

  .header__container {

    top: 9rem;
  }


  .cta {

    display: none;

  }

  .header__socials {
    display: none;

  }

  .scroll__down {
    display: none;
  }

  .Me {

    width: 42%;
    height: 35vh;
    left: calc(87% - 14rem);
    margin-top: 70%;

  }


  .Me img {

    left: 0.7rem;
    width: 90%;
  }





}