/* Avatar css --> Red Astrounaut */

#canvasContainerAvatar {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0rem;
}



@media screen and (max-width: 320px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 390px) {}

@media screen and (max-width: 393px) {}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 428px) {}

@media screen and (max-width: 430px) {}




/*---------Small Queries (Small devices)------------------*/

@media screen and (min-width: 768px) {

    /* Avatar css --> Red Astrounaut */

    #canvasContainerAvatar {
        width: 80vw;
        height: 25vh;
        position: relative;
        top: 5rem;
        left: 0rem;

    }


}

@media screen and (min-width: 800px) {

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0rem;
    }
}

@media screen and (min-width: 820px) {

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0rem;
    }
}

@media screen and (min-width: 834px) {

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 0rem;
    }
}

@media screen and (min-width: 884px) {

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 8rem;
    }
}


/*---------Media Queries (medium devices - Tablets)------------------*/

@media screen and (min-width: 1280px) {

    

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 6rem;
    }


}


@media screen and (min-width: 1440px) {

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 24rem;
    }

}


@media screen and (min-width: 1728px) {

    

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 12rem;
    }

}



@media screen and (min-width: 1920px) {

   

    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 14rem;
    }

} 


@media screen and (min-width: 2048px) {
    #canvasContainerAvatar {
        width: 100vw;
        height: 100vh;
        position: relative;
        top: 12rem;
    }
}