#experience {

  position: relative;
  margin: 0;
  padding: 0;
  top: -30rem;
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 110px;
  
}

#experience h2 {
  margin-top: 33px;
}

#experience h5 {
  margin-top: 100px;
  font-size: 1.7rem;
  font-style: Arial;
  color: var(--color-primary);
}

#experience h1 {
  font-size: 1.7rem;
  margin-top: 300px;
  text-align: center;
  color: whitesmoke;
}

.experience__container>div {
  background: linear-gradient(45deg,
      transparent,
      var(--color-primary-variant),
      transparent);
  padding: 2.4rem 5rem;
  border-radius: 2rem;

  transition: var(--transition);
}

.experience__container>div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  box-shadow: 0 0 20px #ece7e7;
}

.experience__container>div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  padding-left: 5rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/*---------Media Queries (medium devices)------------------*/

@media screen and (min-width: 1920px) {
  #experience {
    position: relative;
    top: -35rem;
  }
}


@media screen and (min-width: 1728px) {
  #experience {
    position: relative;
    top: -55rem;
  }
}

@media screen and (max-width: 1440px) {
  #experience {
    
    top: -82rem;
  }
}
/*---------Media Queries (Tablets)------------------*/

@media screen and (max-width: 1024px) {
 
  #experience {

    top: -49rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {
    
    margin-left: 0rem;
    font-size: 1.9rem;


  }


  
  /* #about h5 {

    margin-left: 0rem;
    font-size: 1.9rem;
  }

  #about h2{

    margin-left: 0rem;
    font-size: 2.4rem;
  } */

  #experience h2 {
    margin-left: 0rem;
    font-size: 2.4rem;
  }


  .experience__container>div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 20%;
  }

  .experience__content {
    padding: 1rem;
  }

 

  

}



/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 600px) {
 
  #experience {

    top: -49rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {
    
    margin-left: 0rem;
    font-size: 1.5rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 3rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 0rem;
    font-size: 0.8rem;
  }


}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 414px) {
  .experience__container {
    margin-left: -3%;
  }
}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 393px) {
  
  #experience {

    top: -40rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {
    
    margin-left: 0rem;
    font-size: 2.2rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 1.8rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 2rem;
    font-size: 0.8rem;
  }

  
  

}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 375px) {

  #experience {

    top: -48em;
  }
  
  .experience__container {
    margin-left: -7%;
  }
 

}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 360px) {

  .experience__container {
    margin-left: -5%;
  }
}


/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {

  #experience {

    top: -60rem;
  }
  
  .experience__container {
    margin-left: -10%;
  }
}
  
  

