#experience {

  position: relative;
  margin: 0;
  padding: 0;
  top: -30rem;
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 110px;

}

#experience h2 {
  margin-top: 33px;
}

#experience h5 {
  margin-top: 100px;
  font-size: 1.7rem;
  font-style: Arial;
  color: var(--color-primary);
}

#experience h1 {
  font-size: 1.7rem;
  margin-top: 300px;
  text-align: center;
  color: whitesmoke;
}

.experience__container>div {
  background: linear-gradient(45deg,
      transparent,
      var(--color-primary-variant),
      transparent);
  padding: 2.4rem 5rem;
  border-radius: 2rem;

  transition: var(--transition);
}

.experience__container>div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  box-shadow: 0 0 20px #ece7e7;
}

.experience__container>div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  padding-left: 5rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}




/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {

  #experience {

    top: -60rem;
  }

  .experience__container {
    margin-left: -10%;
  }
}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 360px) {

  .experience__container {
    margin-left: -5%;
  }
}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 375px) {

  #experience {

    top: -48em;
  }

  .experience__container {
    margin-left: -7%;
  }


}


@media screen and (max-width: 390px) {}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 393px) {

  #experience {

    top: -40rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {

    margin-left: 0rem;
    font-size: 2.2rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 1.8rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 2rem;
    font-size: 0.8rem;
  }




}


/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 414px) {
  .experience__container {
    margin-left: -3%;
  }
}

@media screen and (max-width: 428px) {}


@media screen and (max-width: 430px) {
  #experience {

    top: -140rem;
  }
}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (min-width: 768px) {

  #experience {

    top: -110rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {

    margin-left: 0rem;
    font-size: 2.1rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 7rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 8rem;
    font-size: 0.8rem;
  }


}

@media screen and (min-width: 800px) {

  #experience {

    top: -170rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {

    margin-left: 0rem;
    font-size: 2.1rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 7rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 8rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 820px) {

  #experience {

    top: -130rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {

    margin-left: 0rem;
    font-size: 2.1rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 7rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 8rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 834px) {

  #experience {

    top: -140rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {

    margin-left: 0rem;
    font-size: 2.1rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 7rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 8rem;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 884px) {

  #experience {

    top: -130rem;
  }

  .experience__container {
    grid-template-columns: 1fr;
  }

  #experience h1 {

    margin-left: 0rem;
    font-size: 2.1rem;


  }

  #experience h2 {
    margin-left: 0rem;
    font-size: 1.9rem;
  }


  .experience__container>div {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
    margin-left: 7rem;
  }

  .experience__content {
    /* padding: 1rem; */
    padding-left: 8rem;
    font-size: 0.8rem;
  }

}

/*---------Media Queries (Tablets)------------------*/

@media screen and (min-width: 1280px) {

  #experience {

    top: -100rem;
  }

  .experience__container {
    /* display: grid; */
    grid-template-columns: 1fr;
    gap: 6rem;
    margin-top: 10rem;
    margin-left: -21rem;
    padding-left: 35rem;
    


  }



  #experience h2 {
    margin-top: 33px;
    font-size: 1.9rem;

  }

  #experience h5 {
    margin-top: 100px;
    font-size: 1.7rem;
    font-style: Arial;
    color: var(--color-primary);
  }

  #experience h4 {

    font-size: 1.3rem;
    

  }

  #experience h1 {
    font-size: 2.1rem;
    margin-top: 300px;
    text-align: center;
    color: whitesmoke;
  }

  .experience__container>div {
    background: linear-gradient(45deg,
        transparent,
        var(--color-primary-variant),
        transparent);
    padding: 2.4rem 5rem;
    border-radius: 2rem;

    transition: var(--transition);
  }

  .experience__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    box-shadow: 0 0 20px #ece7e7;
  }

  .experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  .experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-left: 3rem;
  }

  .experience__details {
    display: flex;
    gap: 1rem;
  }

  .experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
  }




}



@media screen and (min-width: 1440px) {
  #experience {

    top: -50rem;
  }

  .experience__container {
    /* display: grid; */
    grid-template-columns: 1fr;
    gap: 6rem;
    margin-top: 10rem;
    margin-left: -15rem;
    padding-left: 35rem;
    


  }



  #experience h2 {
    margin-top: 33px;
    font-size: 1.9rem;

  }

  #experience h5 {
    margin-top: 100px;
    font-size: 1.7rem;
    font-style: Arial;
    color: var(--color-primary);
  }

  #experience h4 {

    font-size: 1.3rem;

  }

  #experience h1 {
    font-size: 2.1rem;
    margin-top: 300px;
    text-align: center;
    color: whitesmoke;
  }

  .experience__container>div {
    background: linear-gradient(45deg,
        transparent,
        var(--color-primary-variant),
        transparent);
    padding: 2.4rem 5rem;
    border-radius: 2rem;

    transition: var(--transition);
  }

  .experience__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    box-shadow: 0 0 20px #ece7e7;
  }

  .experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  .experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-left: 5rem;
  }

  .experience__details {
    display: flex;
    gap: 1rem;
  }

  .experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
  }
}






@media screen and (min-width: 1728px) {
  #experience {

    top: -130rem;
  }

  .experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    margin-top: 10rem;
    margin-left: -4rem;
    padding-left: 10rem;
    


  }

  #experience h2 {
    margin-top: 33px;

  }

  #experience h5 {
    margin-top: 100px;
    font-size: 1.7rem;
    font-style: Arial;
    color: var(--color-primary);
  }

  #experience h4 {

    font-size: 1.3rem;

  }

  #experience h1 {
    font-size: 2.7rem;
    margin-top: 300px;
    text-align: center;
    color: whitesmoke;
  }

  .experience__container>div {
    background: linear-gradient(45deg,
        transparent,
        var(--color-primary-variant),
        transparent);
    padding: 2.4rem 5rem;
    border-radius: 2rem;

    transition: var(--transition);
  }

  .experience__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    box-shadow: 0 0 20px #ece7e7;
  }

  .experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  .experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-left: 5rem;
  }

  .experience__details {
    display: flex;
    gap: 1rem;
  }

  .experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
  }
}




@media screen and (min-width: 1920px) {
  #experience {

    top: -110rem;
  }

  .experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    margin-top: 10rem;
    margin-left: 0rem;
    padding-left: 10rem;
    margin-right: 10rem;


  }

  #experience h2 {
    margin-top: 33px;

  }

  #experience h5 {
    margin-top: 100px;
    font-size: 1.7rem;
    font-style: Arial;
    color: var(--color-primary);
  }

  #experience h4 {

    font-size: 1.3rem;

  }

  #experience h1 {
    font-size: 2.7rem;
    margin-top: 300px;
    text-align: center;
    color: whitesmoke;
  }

  .experience__container>div {
    background: linear-gradient(45deg,
        transparent,
        var(--color-primary-variant),
        transparent);
    padding: 2.4rem 5rem;
    border-radius: 2rem;

    transition: var(--transition);
  }

  .experience__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    box-shadow: 0 0 20px #ece7e7;
  }

  .experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  .experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-left: 5rem;
  }

  .experience__details {
    display: flex;
    gap: 1rem;
  }

  .experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
  }
}


@media screen and (min-width: 2048px) {

  #experience {

    top: -130rem;
  }

  .experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    margin-top: 10rem;
    margin-left: 5rem;
    padding-left: 10rem;
    margin-right: 10rem;


  }

  #experience h2 {
    margin-top: 33px;

  }

  #experience h5 {
    margin-top: 100px;
    font-size: 1.7rem;
    font-style: Arial;
    color: var(--color-primary);
  }

  #experience h4 {

    font-size: 1.3rem;

  }

  #experience h1 {
    font-size: 2.7rem;
    margin-top: 300px;
    text-align: center;
    color: whitesmoke;
  }

  .experience__container>div {
    background: linear-gradient(45deg,
        transparent,
        var(--color-primary-variant),
        transparent);
    padding: 2.4rem 5rem;
    border-radius: 2rem;

    transition: var(--transition);
  }

  .experience__container>div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
    box-shadow: 0 0 20px #ece7e7;
  }

  .experience__container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }

  .experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding-left: 5rem;
  }

  .experience__details {
    display: flex;
    gap: 1rem;
  }

  .experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
  }
}