#footer {


    position: relative;
    /* margin: 0; */
    padding: 3rem 0;
    top: 45rem;
    /* background:var(--color-primary); */
    background: linear-gradient(45deg,
            transparent,
            var(--color-primary-variant),
            transparent);


    text-align: center;
    font-size: 0.9rem;
    margin-top: -50rem;

}

#footer:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    box-shadow: 0 0 20px #6eebda;
}


footer a {
    color: whitesmoke;
    font-size: 1.4rem;

}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 4rem;
    color: whitesmoke;
}





/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 430px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -155rem;
        left: 0rem;

    }

    footer a {
        color: rgb(236, 255, 248);
        font-size: 1.4rem;
    
    }

    .permalinks {
        display:grid;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 0 auto 3rem;
    }

}

@media screen and (max-width: 428px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -145rem;
        left: 0rem;

    }

}



@media screen and (max-width: 393px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -130rem;
        left: 0rem;

    }

}

@media screen and (max-width: 390px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -140rem;
        left: 0rem;

    }

}

@media screen and (max-width: 375px) {
    #footer {
        width: 100vw;
        position: relative;
        margin-top: -110rem;
        left: 0rem;

    }
}

@media screen and (max-width: 360px) {
 
    #footer {
        width: 100vw;
        position: relative;
        margin-top: -120rem;
        left: 0rem;

    }
}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -90rem;
        left: 0rem;

    }
}

@media screen and (min-width: 768px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -130rem;
        left: 0rem;

    } 
}

@media screen and (min-width: 800px) {

     #footer {
        width: 100vw;
        position: relative;
        margin-top: -190rem;
        left: 0rem;

    } 
}

@media screen and (min-width: 820px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -160rem;
        left: 0rem;

    }
}

@media screen and (min-width: 834px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -160rem;
        left: 0rem;

    }
}

@media screen and (min-width: 884px) {

    #footer {
        width: 100vw;
        position: relative;
        margin-top: -160rem;
        left: 0rem;

    }
}



@media screen and (min-width: 1280px) {

    #footer {

        position: relative;
        left: 0;
        margin-top: -130rem;
        margin-bottom: -40rem;
        margin-right: -1rem;

    }
}


@media screen and (min-width: 1440px) {

    #footer {

        position: relative;
        left: 0;
        margin-top: -80rem;
        margin-bottom: -40rem;
        margin-right: -1rem;

    }
}

@media screen and (min-width: 1728px) {

    #footer {

        position: relative;
        left: 0;
        margin-top: -150rem;
        margin-bottom: -40rem;
        margin-right: -1rem;




    }
}

@media screen and (min-width: 1920px) {

    #footer {

        position: relative;
        left: 0;
        margin-top: -120rem;
        margin-bottom: -40rem;
        margin-right: -1rem;


    }
}

@media screen and (min-width: 2048px) {

    #footer {

        position: relative;
        left: 0;
        margin-top: -150rem;
        margin-bottom: -40rem;
        margin-right: -1rem;

    }
}