/* canvasContainerLego Astrounauts css --> */

#canvasContainerLego {
    width: 100% !important;
    height: 100vh !important;
    position: relative;
    top: -9rem;
    left: 1rem;
    z-index: 1;
    display: inline-block;
    /* display: block; */

}







@media screen and (max-width: 1728px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        top: -15rem;
    }
}

@media screen and (max-width: 1440px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        top: -10rem;
    }
}

/*---------Media Queries (Tablets)------------------*/

@media screen and (max-width: 1024px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {

        top: 6rem;
    }

}

@media screen and (max-width: 884px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {

        top: 10rem;
    }

}

@media screen and (max-width: 834px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {

        top: 9rem;
    }

}

@media screen and (max-width: 800px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {

        top: 8rem;
    }

}

@media screen and (max-width: 768px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {

        top: 11rem;
    }

}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 600px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        width: 100%;
        height: 50vh;
        position: relative;
        top: -1rem;
        left: 1rem;
        z-index: 1;

    }


}

@media screen and (max-width: 428px) {
    #canvasContainerLego {
        
        top: -2rem;
        

    }
}

@media screen and (max-width: 430px) {
    #canvasContainerLego {
        
        top: -2rem;
        left: -1rem;
       

    }
}

/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 393px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        width: 100%;
        height: 50vh;
        position: relative;
        top: 1rem;
        left: 1rem;
        z-index: 1;

    }



}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 375px) {
  
  
    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        width: 100%;
        height: 50vh;
        position: relative;
        top: 2rem;
        left: 1rem;
        z-index: 1;

    }
  
  }

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        width: 100vw;
        height: 50vh;
        position: relative;
        top: 3rem;
        left: 1rem;
        z-index: 1;

    }


}

@media screen and (min-width: 1920px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        top: -13rem;
    }
}

@media screen and (min-width: 2048px) {

    /* canvasContainerLego Astrounauts css --> */

    #canvasContainerLego {
        top: -16rem;
    }
}