/* canvasContainerStateSpace css --> */

#canvasContainerSatelite {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -38rem;
    top: -10rem;
}


/*---------Media Queries (large and medium devices)------------------*/
@media screen and (min-width: 1920px) {

    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: -48rem;
        top: -15rem;
    }


}

/*---------Media Queries (medium devices - Tablets)------------------*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {


    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 45vw;
        height: 45vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
        top: 0rem;
        left: 0rem;
    }


}

/*--------- Responsive design  (Small devices)-- iPhone devices ----------------*/

@media screen and (max-width: 480px) {

    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 45vw;
        height: 45vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
        top: -10rem;
        left: -3rem;
    }
}


@media screen and (min-width: 481px) and (max-width: 767px) {

    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 45vw;
        height: 45vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
        top: 0rem;
        left: 0rem;
    }

}


@media screen and (max-width: 375px) {

    /* canvasContainerStateSpace css --> */
    #canvasContainerSatelite {
        width: 45vw;
        height: 45vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
        top: -8rem;
        left: -4rem;
    }
}