/* canvasContainerStateSpace css --> */

#canvasContainerSatelite {
    width: 100% !important;
    height: 100vh !important;
    position: absolute;
    margin-left: -32%;
    margin-top: -57rem;
    display: inline-block;

}





/*---------Media Queries (Tablets)------------------*/

@media screen and (max-width: 1024px) {

    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 100% !important;
        height: 100vh !important;
        position: absolute;
        margin-left: 0rem;
        margin-top: -111rem;
        display: inline-block;
    }

}

@media screen and (max-width: 884px) {
    #canvasContainerSatelite {
        
        margin-left: 0rem;
        margin-top: -80rem;
        
    }
}

@media screen and (max-width: 800px) {
    #canvasContainerSatelite {
        
        margin-left: 0rem;
        margin-top: -93rem;
        
    }
}



/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (max-width: 600px) {

    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 45%;
        height: 45vh;
        position: absolute;
        margin-left: -100%;
        margin-top: -15rem;
        display: inline-block;

    }


}

@media screen and (max-width: 428px) {
    #canvasContainerSatelite {

        margin-top: -20rem;


    }
}

@media screen and (max-width: 393px) {
    #canvasContainerSatelite {

        margin-top: -13rem;


    }
}

@media screen and (max-width: 390px) {
    #canvasContainerSatelite {

        margin-top: -13rem;


    }
}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {

    /* canvasContainerStateSpace css --> */
    #canvasContainerSatelite {
        width: 45vw;
        height: 45vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: -40%;
        left: 0rem;
    }


}

@media screen and (max-width: 430px) {
    #canvasContainerSatelite {

        margin-top: -84rem;
        margin-left: 0rem;

    }
}

@media screen and (min-width: 768px) {
    #canvasContainerSatelite {
        
        margin-left: 0rem;
        margin-top: -80rem;
        
    }
}

@media screen and (min-width: 820px) {
 
    /* canvasContainerStateSpace css --> */
    #canvasContainerSatelite {

        margin-top: -95rem;

    }

}

@media screen and (min-width: 834px) {
 
    /* canvasContainerStateSpace css --> */
    #canvasContainerSatelite {

        margin-top: -95rem;

    }

}

@media screen and (min-width: 1280px) {
 
    /* canvasContainerStateSpace css --> */
    #canvasContainerSatelite {

        margin-top: -65rem;

    }

}
    

@media screen and (min-width: 1440px) {
    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {

        margin-top: -60rem;

    }
}

@media screen and (min-width: 1728px) {
    
   /* canvasContainerStateSpace css --> */

   #canvasContainerSatelite {

    margin-top: -90rem;

}
}

/*---------Media Queries (Tablets)------------------*/

@media screen and (min-width: 1920px) {
    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {

        margin-top: -80rem;
        margin-left: -32%;

    }
}

@media screen and (min-width: 2048px) {
    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {

       margin-top: -90rem;

   }
}