/* canvasContainerStateSpace css --> */

#canvasContainerSatelite {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -38rem;
    top: -10rem;
}


/*---------Media Queries (large and medium devices)------------------*/
@media screen and (min-width: 1920px) {

    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: -48rem;
        top: -15rem;
    }


}

/*---------Media Queries (medium devices - Tablets)------------------*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {


    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 45vw;
        height: 45vh;
        position: absolute;
        left: -3rem;
        top: -9rem;
    }


}

/*---------Small Queries (Small devices)------------------*/

@media screen and (max-width: 600px) {

    /* canvasContainerStateSpace css --> */

    #canvasContainerSatelite {
        width: 80vw;
        height: 30vh;
        position: absolute;
        left: -6rem;
        top: -5rem;
    }

}