/* Earth css --> */

#canvasContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 3rem;
    z-index: 2;
    overflow: hidden;
    resize: vertical;

}



@media screen and (max-width: 430px) {

    #canvasContainer {

        top: 14rem;

    }
}

@media screen and (max-width: 393px) {
    /* Earth css --> */

    #canvasContainer {

        top: 12rem;


    }

}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 375px) {
    /* Earth css --> */


    #canvasContainer {

        top: 10rem;


    }

}

/*--------- Responsive design  (Small ~ iPhone devices) ----------------*/

@media screen and (max-width: 320px) {
    /* Earth css --> */

    #canvasContainer {

        top: 8rem;


    }


}


/*--------- Responsive design  (iPhone devices) ----------------*/

@media screen and (min-width: 768px) {
    

    #canvasContainer {

        top: 14rem;

    }


}

@media screen and (min-width: 800px) {
    #canvasContainer {

        top: 12rem;

    }
}

@media screen and (min-width: 820px) {
    #canvasContainer {

        top: 12rem;

    }
}

@media screen and (min-width: 834px) {

    #canvasContainer {

        top: 12rem;

    }
}

@media screen and (min-width: 884px) {

    #canvasContainer {

        top: 15rem;

    }
}


/*---------Media Queries (Tablets)------------------*/

@media screen and (min-width: 1280px) {
    
    #canvasContainer {

        top: 6rem;

    }

}
  
@media screen and (min-width: 1440px) {

    #canvasContainer {

        top: 18rem;

    }
}
  

@media screen and (min-width: 1728px) {

    #canvasContainer {

        top: 15rem;

    }
}

@media screen and (min-width: 1920px) {
    #canvasContainer {

        top: 15rem ;

    }
} 

@media screen and (min-width: 2048px) {

    #canvasContainer {

        top: 14rem ;

    }
}