/* Earth css --> */

#canvasContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 3rem;
    z-index: 2;
}


/*---------Media Queries (large and medium devices)------------------*/
@media screen and (min-width: 1920px) {

    /* Earth css --> */
    #canvasContainer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 7rem;
        z-index: 2;
    }


}

/*---------Media Queries (medium devices - Tablets)------------------*/

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Earth css --> */

    #canvasContainer {
        width: 65vw;
        height: 65vh;
        position: absolute;
        margin-left: 18%;
        margin-top: 16%;
        z-index: 2;
    }


}

/*--------- Responsive design  (Small devices)-- iPhone devices ----------------*/


@media screen and (max-width: 480px) {

    /* Earth css --> */

    #canvasContainer {
        width: 100vw;
        height: 90vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
        top:28rem;
        z-index: 2;
    }
}


@media screen and (min-width: 481px) and (max-width: 767px) {

    /* Earth css --> */

    #canvasContainer {
        width: 100vw;
        height: 90vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
        top:28rem;
        z-index: 2;
    }

}

@media screen and (max-width: 375px) {
    /* Earth css --> */

    #canvasContainer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        margin-left: 0rem;
        margin-top: 0rem;
        top:20rem;
        z-index: 2;
    }

}